@{
    ViewData["Title"] = "About Me";
}
<link rel="stylesheet" href="~/css/Index.css" />
<div class="m">
    <table class="CenterTable">
        <tbody>
            <tr>
                <td rowspan="3">
                    <img style="width:200px;height:200px;" src="~/images/7.jpeg" />
                </td>
                <td>
                        Pablo Gamez
                    <a class="GramButtons" href="~/Home/Register">Follow</a>
                </td>
                <td>
            </tr>
            <tr>
                <td>
                    <b>6</b> Posts
                    <b>No</b> followers
                    <b>0</b> following
                </td>
            </tr>
            <tr>
                <td> I like this time in history.  </td>
            </tr>
            <tr>
                <td colspan="2" class="MainLinks">
        <a href="#"
           target="blank">POSTS</a>&nbsp;&nbsp;&nbsp;
        <a href="#"
           target="blank">REELS</a>&nbsp;&nbsp;&nbsp;
        <a href="#"
           target="blank">IGTV</a>&nbsp;&nbsp;&nbsp;
        <a href="#"
           target="blank">TAGGED</a>&nbsp;&nbsp;&nbsp;
                    </td>
                </tr>
        </tbody>
    </table>
</div>
<table class="CenterTable">
    <tbody>
        <tr>
            <td>
                <img style="width:100px;height:100px;" src="~/images/AH-1Z.jpeg" />
                <br />
                ZULU
            </td>
            <td>
                <img style="width:100px;height:100px;" src="~/images/UH-1Y.jpeg" />
             <br />
                YANKEE
            </td>
        </tr>
    </tbody>
</table>
       <table class="imgtitle">
           <tbody>
               <tr>
                   <td>
                       <div class="MainImages">
                           <img style="width:100px;height:100px;" src="~/images/1.jpg" />
                           <div class="HoverText">
                               Other text
                           </div>
                       </div>
                   </td>
                   <td>
                       <img style="width:100px;height:100px;" src="~/images/2.jpg" />
                   </td>
                   <td>
                       <img style="width:100px;height:100px;" src="~/images/3.jpg" />
                   </td>
               </tr>
               <tr>
                   <td>
                        <img style="width:100px;height:100px;" src="~/images/4.jpg" />
                   </td>
                   <td>
                       <img style="width:100px;height:100px;" src="~/images/5.jpg" />
                   </td>
                   <td>

                       <video controls
                              style="width:100px;height:100px;">
                           <source src="~/video/v1.mp4" type="video/mp4" />
                       </video>
                   </td>
               </tr>
           </tbody>
    </table>

<div class="FooterContainer">
    <table>
        <tbody>
            <tr>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Log in to My Gram &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="GramButton2" href="~/Home/UserProfile">Log In</a>
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Log in to see photos and videos from friends and discover other accounts you'll love. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="GramButton3" href="~/Home/Register">Sign Up</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>