<form method="get" action="~/Home/SaveUser">
    <fieldset>
        <legend>User Information</legend>
        <table>
            <tbody>
                <tr>
                    <td>
                        <label for="UserName">User Name:</label>
                    </td>
                    <td>
                        <input id="User Name"
                               type="text" size="35"
                               name="UserName"
                               placeholder="Add your Name"
                               autofocus />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Password">Password:</label>
                    </td>
                    <td>
                        <input id="Password"
                               type="text" size="35"
                               name="Password"
                               placeholder="Add your Password"
                               autofocus />
                    </td>
                </tr>
            </tbody>
        </table>
        <a style=" background-color: #0095f6; border-style: solid; border-width: 1px; border-color: #fafafa; border-radius: 10px; text-decoration: none !important; padding: 5px 10px 5px 10px; color: white;"
           href="~/Home/Register">Register</a>

    </fieldset>
</form>